body {
	padding: 10px;
	font-family: sans-serif;
}
#chart {
	float: left;
	height: 50%;
	width: 40%;
}
#trainer{
	float: right;
	height: 50%;
	width: 40%;
	position: relative;
}
#todo{
	float: right;
	height: 50%;
	width: 20%;
}
#palm {
	margin-left: 25%;
	width: 50%;
}
#redCirclePinkie {
	height: 28px;
	position: absolute;
	margin-left: 180px;
	margin-top: 55px;
}
#redCircleRingFinger {
	height: 28px;
	position: absolute;
	margin-left: 200px;
	margin-top: 5px;
}
#redCircleMiddleFinger {
	height: 28px;
	position: absolute;
	margin-left: 228px;
	margin-top: -5px;
}
#redCircleForefinger {
	height: 28px;
	position: absolute;
	margin-left: 254px;
	margin-top: 5px;
}
#redCircleThumb {
	height: 28px;
	position: absolute;
	margin-left: 290px;
	margin-top: 115px;
}
.button {
	background-color: #4CAF50; /* Green */
	border-color: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	float: left;
}
.timer {
	position: relative;
	border: 1px solid red;
	font-size: 42px;
	/*margin-left: 240px;*/
}
table {
	table-layout: fixed;
	width: 150px;
}